.paginacion {
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}

.paginacion button {
  padding: 0.4rem 0.8rem;
  border: 1px solid #ccc;
  background-color: #f4f4f4;
  cursor: pointer;
}

.paginacion button.activo {
  background-color: #007bff;
  color: white;
  font-weight: bold;
  border-color: #007bff;
}

.paginacion button:disabled {
  background-color: #e0e0e0;
  cursor: not-allowed;
}
